class {{ ir.design_name }}_agent extends uvm_agent;
    `uvm_component_utils({{ ir.design_name }}_agent)

    {{ ir.design_name }}_driver drv;
    {{ ir.design_name }}_monitor mon;
    {{ ir.design_name }}_sequencer seqr;

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction

    function void build_phase(uvm_phase phase);
        super.build_phase(phase);
        drv = {{ ir.design_name }}_driver::type_id::create("drv", this);
        mon = {{ ir.design_name }}_monitor::type_id::create("mon", this);
        seqr = {{ ir.design_name }}_sequencer::type_id::create("seqr", this);
    endfunction
endclass
