class {{ ir.design_name }}_sequencer extends uvm_sequencer #(uvm_sequence_item);
    `uvm_component_utils({{ ir.design_name }}_sequencer)

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction
endclass
