class {{ ir.design_name }}_test extends uvm_test;
    `uvm_component_utils({{ ir.design_name }}_test)

    {{ ir.design_name }}_agent agent_h;

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction

    function void build_phase(uvm_phase phase);
        super.build_phase(phase);
        agent_h = {{ ir.design_name }}_agent::type_id::create("agent_h", this);
    endfunction
endclass
